{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% include "_partials/_header.html.twig" %}

    <div class="py-8 px-4">
        <h1 class="text-4xl font-bold text-blue mb-6">Flashcards</h1>
    </div>
{% endblock %}
